<h1>Ask Me Anything</h1>

<p>A place to ask and answer tech questions.</p>

<h3>Questions:</h3>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<h3>Answers:</h3>

<ul>
  {{#each model.answers as |answer|}}
    <li>"{{answer.reply}}" by {{answer.name}}</li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}
